{{> _head}}
{{> _header}}
<div class="chat">
    <div class="chat__sidebar">
        <h3>{{you.user.name}}</h3>
        <h3>{{you.station}}</h3>
        <h3>{{you.store}}</h3>
        <h3>{{you.time}}:{{you.minute}}</h3>
    </div>

    <div class="chat__main">
        <ol id="message" class="chat__messages">
            {{#each messages}}
            <li class="message">
                <div class="message__title">
                    <img src="{{user.icon}}" class="chat-icon">
                </div>
                <div class="message__body">
                    <span class="message-text">{{AutoLink message}}</span>
                    <span class="send-time">{{getChatTime createdAt}}</span>
                </div>
            </li>
            {{/each}}
        </ol>
        <div class="chat__footer">
            <form id="message-form">
                <input type="text" id="message-box" placeholder="Message" name="message" autocomplete="off" contenteditable autofocus/>
                <input type="hidden" id="userId" name="userId" value="{{me._id}}">
                {{#if isMyCollector}}
                <input type="hidden" id="youId" name="youId" value="{{toUserId}}">
                {{else}}
                <input type="hidden" id="youId" name="youId" value="{{you.user._id}}">
                {{/if}}
                <input type="hidden" id="roomId" name="roomId" value="{{you._id}}">
                <button id="send-btn" disabled>送信</button>
            </form>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/chat.js"></script>
{{> _footer}}