{{> _head}}
{{> _header}}
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="search-form-block">
                <form class="form-inline">
                    <div class="search-form">
                        <a class="p-2 text-muted" href="#">場所</a>
                        <input class="form-control mr-sm-2" type="search" placeholder="キーワード検索" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg></button>
                    </div>
                </form>
                <div class="nav-scroller py-1 search-header-block">
                </div>
            </div>
            <div class="row">
                {{#each collects}}
                <div class="col-md-7 feed-box">
                    <small class="post-minute">{{getPostTime createdAt}}</small>
                    <div class="profile-collect-card">
                        <div class="collect-main-background">
                            <h3>ランチ行きましょう！（仮）</h3>
                            <p>{{comment}}</p>

                        </div>
                        <div class="collect-feed-center-container">
                            <div class="profile-inner-block">
                                <img class="profile-image" src="{{user.icon}}" />
                            </div>
                            <div class="profile-name-block">
                                <p class="feed-profile">{{user.name}}</p>
                                <p class="feed-profile2"><i class="fas fa-suitcase"></i> {{user.job}}エンジニア（仮）</p>
                            </div>
                        </div>
                        {{#if isSameUser}}
                        <a href="/apply/{{_id}}" class="btn feed-btn c-round-btn--red profile-collect-footer-btn">チェック</a>
                        {{else}}
                        <a href="/chat/{{_id}}" class="btn feed-btn c-round-btn--red profile-collect-footer-btn">参加</a>
                        {{/if}}
                        <div class="inner-feed-right profile-collect-card-footer">
                            <ul>
                                <li><h5><i class="fas fa-map-marker-alt"></i></h5><h5>{{station}}</h5></li>
                                <li><h5><i class="fas fa-utensils"></i></h5><h5><a href="aaa" target="_blank">{{store}}</a></h5></li>
                                <li><h5><i class="fas fa-clock"></i></h5><h5>{{time}}:{{minute}}</h5></li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</main>


{{> _footer}}