{{> _head}}
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="search-form-block">
                <form class="form-inline">
                    <div class="search-form">
                        <input class="form-control mr-sm-2" type="search" placeholder="キーワード検索" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg></button>
                    </div>
                </form>
                <div class="nav-scroller py-1 search-header-block">
                    <nav class="justify-content-between search-header">
                        <a class="p-2 text-muted" href="#">時間</a>
                        <a class="p-2 text-muted" href="#">年齢</a>
                        <a class="p-2 text-muted" href="#">場所</a>
                    </nav>
                </div>
            </div>
            <div class="row">
                {{#each collects}}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            user profile image.....
                            <div class="card-body">
                                <p class="card-text">{{station}}</p>
                                <p class="card-text"><a href="{{link}}">{{store}}</a></p>
                                <p class="card-text">{{comment}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">{{time}}:{{minute}}</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">{{num}}</button>
                                    </div>
                                    <small class="text-muted">{{getPostTime created_at}} mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

</main>


{{> _footer}}