{{> _head}}
{{> _header}}
<main>
<div class="container container-box">
    <div class="col-md-8 order-md-1 container-form">
        <h3 class="mb-3 section-title">ランチ募集フォーム{{email}}</h3>
        <form class="needs-validation {{validClass}}" novalidate action="/collect" method="post">
            <input type="hidden" name="user" value="{{user._id}}">
            <div class="mb-3">
                <label for="station">場所</label>
                <input type="text" name="station" class="form-control" id="station" placeholder="六本木" value="{{stationValue}}" required>
                <div class="error-message">
                    {{station}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="store">お店</label>
                    <input type="text" name="store" class="form-control" id="store" placeholder="お店" value="{{storeValue}}" required>
                    <div class="error-message">
                        {{store}}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="link">参考リンク</label>
                    <input type="text" name="link" class="form-control" id="link" placeholder="link" value="{{linkValue}}" required>
                    <div class="error-message">
                        {{link}}
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="num">募集人数</label>
                <select name="num" class="custom-select d-block w-100" id="num" required>
                    <option value="1">1人</option>
                    <option value="2">2人</option>
                    <option value="3">3人</option>
                    <option value="4">4人</option>
                </select>
            </div>

            <div class="col-md-8 mb-6">
                <label for="time">開始時間目安</label>
                <div class="d-block">
                    <select name="time" class="custom-select d-inline-block w-40 form-control" id="time" required>
                        <option value="11">11時</option>
                        <option value="12">12時</option>
                        <option value="13">13時</option>
                        <option value="14">14時</option>
                    </select>

                    <select name="minute" class="custom-select d-inline-block w-40 form-control" id="minute" required>
                        <option value="00">00分</option>
                        <option value="15">15分</option>
                        <option value="30">30分</option>
                        <option value="45">45分</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-textarea">
                <label for="comment">募集コメント</label>
                <textarea name="comment" class="form-control" id="comment" rows="3" required>{{commentValue}}</textarea>
                <div class="error-message">
                    {{comment}}
                </div>
            </div>

            <button class="btn btn-primary btn-lg form-submit" type="submit">募集を開始する</button>
            <div class="clear"></div>
        </form>
    </div>
</div>
</main>
{{> _footer}}